@model IEnumerable<BankingClientApplication.Models.TransactionDetails>
@{
    ViewData["Title"] = "GetTransactionDetails";
}

<h1>GetTransactionDetails</h1>
<p>
    <h4>Transaction Details</h4>
    <h5>Here is your Transaction Details Mr./Mrs @ViewBag.UserName.</h5>
    <h6>Thanks for choosing our service.</h6>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
        </tr>
        }
    </tbody>
</table>

